$main_color:#C92570;
$main_color_hover: #d23b80;

.store__arrivals {
  width: 85%;
  margin: auto;
  min-height: 576px;
  position: relative;
  background: url(/assets/images/store_arrivals-bk.png);
  background-size: 100% 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 180px 0px;
  object-fit: cover;
  margin-bottom: 20px;
  background-size: cover;
  overflow: hidden;
  // background-attachment: fixed;

  h3 {
    font-weight: bold;
    font: Suisse Intl;
    font-size: 42px;


  }

  p {
    font-weight: bold;
    font: Suisse Intl;
  }

  .shop-btn {
    position: relative;

    button {
      width: 289px;
      height: 64px;
      background: $main_color;
      box-shadow: 0px 5px 9px #00000026;
      opacity: 1;
      font-weight: bold;
      border: 0px;

      a {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        background-color: $main_color_hover;
      }
    }

  }


}

@media (max-width: 800px) {
  .store__arrivals {
    width: 100%;
    margin: auto;
    padding: 180px 0px;
    overflow-x: hidden;
    margin-bottom: 20px;
  }

}
