<section class="add_new_address_container">
  <!-- The Modal -->
  <div class="modal" id="mynewModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add new address</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            style="opacity: 1;"
          >
            <!-- &times; -->
            <i class="fal fa-times text-danger"></i>
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="container">
            <form action="#" method="POST" id="addForm">
              <div class="row">
                <div class="col">
                  <label>First Name <i class="text-danger">*</i></label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="email"
                    required
                  />
                </div>
                <div class="col">
                  <label>First Name <i class="text-danger">*</i></label>
                  <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Address Line 1 <i class="text-danger">*</i></label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    name="address"
                    required
                  />
                </div>

                <div class="col">
                  <label>Address Line 2 <i class="text-danger">*</i></label>
                  <input
                    type="text"
                    class="form-control"
                    name="address"
                    required
                  />
                </div>
              </div>

              <!--Email and phone -->
              <div class="row">
                <div class="col">
                  <label>Email address <i class="text-danger">*</i></label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required
                  />
                </div>

                <div class="col">
                  <label>Phone number <i class="text-danger">*</i></label>
                  <input
                    type="number"
                    class="form-control"
                    name="phone"
                    required
                  />
                </div>
              </div>

              <!--City State and zip code -->
              <div class="row">
                <div class="col">
                  <label>City <i class="text-danger">*</i></label>
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    name="city"
                    required
                  />
                </div>

                <div class="col">
                  <label>State<i class="text-danger">*</i></label>
                  <select class="form-control">
                    <option disabled>Select a state</option>
                    <option>CA</option>
                    <option>MN</option>
                    <option>NY</option>
                  </select>
                </div>

                <div class="col">
                  <label>Zip code <i class="text-danger">*</i></label>
                  <input
                    type="number"
                    class="form-control"
                    name="zipcode"
                    minlength="5"
                    maxlength="5"
                    required
                  />
                </div>
              </div>

              <!-- Checkbox -->
              <br />

              <div class="form-group form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="remember"
                    required
                  />
                  Save as default address
                </label>
              </div>
              <br />

              <button type="submit" class="btn btn-outline-danger">Save</button>
            </form>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button> -->
        </div>
      </div>
    </div>
  </div>
</section>
