<section class="shop_category">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="shop-category-title">
          <h3>Shop by Category</h3>
        </div>
      </div>
    </div>
    <div class="shop-category-btn">
      <div class="row">
        <div class="col-md-4 mt-4">
          <a href="/bags" class="btn btn-outline-danger">PSP Merch</a>
        </div>
        <div class="col-md-4 mt-4">
          <a href="#" class="btn btn-outline-danger">Dress for Success</a>
        </div>
        <div class="col-md-4 mt-4">
          <a href="#" class="btn btn-outline-danger">Work from Home</a>
        </div>
      </div>
      <!-- third row -->
      <div class="row">
        <div class="col-md-4 mt-4">
          <a href="#" class="btn btn-outline-danger">Category Item</a>
        </div>
        <div class="col-md-4 mt-4">
          <a href="#" class="btn btn-outline-danger">Category Item</a>
        </div>
        <div class="col-md-4 mt-4 mb-4">
          <a href="#" class="btn btn-outline-danger">Category Item</a>
        </div>
      </div>
    </div>
  </div>
</section>
