<section class="container">
  <div class="shop_category text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="shop-category-title">
          <h3>Shop by Category</h3>
        </div>
      </div>
    </div>
    <div class="shop-category-btn">
      <div class="row">
        <div class="col-md-4 mt-4">
          <button class="btn btn-outline-danger">PSP Merch</button>
        </div>
        <div class="col-md-4 mt-4">
          <button class="btn btn-outline-danger">Dress for Success</button>
        </div>
        <div class="col-md-4 mt-4">
          <button class="btn btn-outline-danger">Work from Home</button>
        </div>
      </div>
      <!-- third row -->
      <div class="row">
        <div class="col-md-4 mt-4">
          <button class="btn btn-outline-danger">Category Item</button>
        </div>
        <div class="col-md-4 mt-4">
          <button class="btn btn-outline-danger">Category Item</button>
        </div>
        <div class="col-md-4 mt-4 mb-4">
          <button class="btn btn-outline-danger">Category Item</button>
        </div>
      </div>
    </div>
  </div>
</section>
