<section class="main__nabbar">
  <nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- Toggler/collapsibe Button -->

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapTheNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapTheNavbar">
      <a class="navbar-brand" href="/">
        <img
          src="assets/images/project-logo.png"
          alt="PantsuitLogo"
          class="img-fluid"
        />
      </a>
      <!-- <span class="navbar-text">PANTSUIT PROFESSIONALS</span> -->

      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/bags">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Money</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lifestyle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item"></li>
        <li class="nav-item"><a class="nav-link" href="#">Why Pantsuit</a></li>
      </ul>
    </div>
    <a href="#">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
  </nav>
</section>
