<!-- Start of Shared menu -->
<app-checkout-menu></app-checkout-menu>
<!-- Start of Shared menu -->
<section class="confirmation-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Thank you for your order!</h2>
        <h4>Order Number: XXXXXXXXXX</h4>
        <p>A receipt of your order has been sent to your email.</p>
      </div>
    </div>
  </div>
  <!-- Start of 2nd Container -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="shipping--address-c">
          <div class="shipping-content">
            <h4>Shipping Address</h4>
            <p class="font-weight-bold">John Doe</p>
            <p>
              123 Alphabet Road <br />
              Apartment 2A <br />
              New York, NY 12345
            </p>
            <!-- Start of payment method div -->
            <div class="payment-method">
              <h4>Payment Method</h4>
              <p>
                Mastercard ending in 1234 <br />
                Expires 01/2021 <br />
                Billing Address: same as shipping
              </p>
            </div>
            <!-- End of payment method div-->
            <!--Start of contact div  -->
            <div class="contactm-method">
              <h4>Contact</h4>
              <p>
                123-456-7890 <br />
                johndoe@example.com
              </p>
            </div>
            <!--End of contact div  -->
          </div>
        </div>
      </div>

      <!-- Start of order summary div -->
      <div class="col">
        <div class="final-summary">
          <h4>Order Summary</h4>
          <div class="order-summary">
            <ul>
              <li>Subtotal</li>
              <li>Shipping</li>
              <li>Tax</li>
              <li><b>Total</b></li>
            </ul>
            <div class="order-prices">
              <span><b>$200.00</b></span> <br />
              <span>$6.00</span> <br />
              <span>$18.03</span> <br />
              <span><b>$224.03</b></span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of order summary div -->
    </div>
  </div>
  <!-- End of 2nd Container -->
</section>
