<section class="checkout_billing_container">
  <div class="container_one">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h2>Checkout</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Start of second container -->
  <div class="container_two">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="step_one">
            <ul>
              <li class="active">
                <a href="/checkout" class="shopping">1</a>
                <h4>Shopping</h4>
              </li>
              <li>
                <a href="/checkout-billing" class="billing">2</a>
                <h4>Billing</h4>
              </li>
              <li>
                <a href="/checkout-review" class="review">3</a>
                <h4>Review</h4>
              </li>
              <li>
                <a href="#" class="confirmation">4</a>
                <h4>Confirmation</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of second container -->

  <!-- Start of container 3 -->
  <div class="billing__details__container">
    <div class="container">
      <h2>Billing Details</h2>
      <div class="addressess">
        <div class="left_col">
          <div class="left-col-details">
            <!-- Start of btn action -->
            <div class="btn-actions">
              <div class="edit-btn">
                <a
                  href="/cart-edit-address"
                  data-toggle="modal"
                  data-target="#editwModal"
                  >Edit</a
                >
              </div>
              <div class="delete-btn">
                <a href="#">
                  <i class="fa fa-trash"></i>
                </a>
              </div>
            </div>
            <!-- End of btn action -->
            <h4>Saved Address</h4>
            <p>
              Mastercard ending in 1234 <br />
              <span
                ><a href="/checkout">Billing Address:</a> same as shipping</span
              >
            </p>
          </div>
        </div>
        <div class="right_col">
          <!-- Start of btn action -->
          <div class="btn-actions">
            <div class="edit-btn">
              <!-- <a href="/cart-edit-address">Edit</a> -->
              <a
                href="/cart-edit-address"
                data-toggle="modal"
                data-target="#editwModal"
                >Edit</a
              >
            </div>
            <div class="delete-btn">
              <a href="#">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </div>
          <!-- End of btn action -->
          <div class="right-col-details">
            <h4>Saved Address</h4>
            <p>
              Mastercard ending in 1234 <br />
              <span
                ><a href="/checkout">Billing Address:</a> same as shipping</span
              >
            </p>
          </div>
        </div>
        <!--Start of add new address  -->
        <div class="add_new_address">
          <div class="add_n_ad-col-details">
            <!-- <i class="fal fa-plus-circle"></i> -->
            <a
              href="/add-creditcard"
              class="fal fa-plus-circle"
              data-toggle="modal"
              data-target="#addCreditCardwModal"
            >
              Add new debit/credit card</a
            >
          </div>
        </div>
        <!--End of add new address  -->
      </div>
    </div>
  </div>
  <!-- End of container 3 -->

  <!-- Start of Paypal btn -->
  <div class="paypal_container">
    <div class="container">
      <h2>OR</h2>
      <div class="row">
        <div class="col">
          <a href="#" class="btn btn-outline-secondary">
            <!-- <i class="fab fa-paypal" style="font-size: 85px;"></i> -->
            <img
              src="/assets/images/paypal-logo.png"
              alt="paypal logo"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Paypal btn -->

  <!-- Start btns back to cart a& next -->
  <div class="go_back_next_btn">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="/cart-items" class="btn btn-secondary"> Back to Cart</a>
        </div>
        <div class="col-md-6">
          <a href="/checkout-billing" class="btn btn-primary"> Next</a>
        </div>
      </div>
    </div>
  </div>

  <!-- End btns back to cart a& next -->
</section>

<app-cart-add-new-address></app-cart-add-new-address>

<app-cart-edit-form></app-cart-edit-form>
<app-add-creditcard></app-add-creditcard>
