$checkout_main_color: #C92570;
$shopping_boxes_shadow:#00000045;

.checkout_billing_container {
    position: relative;

    .container_one {
        margin-bottom: 51px;

    }

    .container_two {
        // width: 1920px;
        height: 156px;
        background: #F7F7F7;
        margin-bottom: 75px;

        /*Start of step one style*/
        .step_one {

            position: relative;
            padding: 40px 0px;

            ul {
                display: flex;
                list-style: none;
                justify-content: space-between;


                li {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    line-height: 56px;
                    text-align: center;
                    font-weight: bold;
                    border: 1px solid #000;


                    a {
                        color: #000;
                        text-decoration: none;
                    }

                    a:first-of-type {
                        color: #000;
                    }

                    h4 {
                        font-weight: bold;
                        font-size: 20px;
                        margin-left: -15px;

                    }
                }

                .active {
                    background-color: $checkout_main_color;
                    border: 1px solid $checkout_main_color;

                    font-size: 20px;
                    color: $checkout_main_color;

                }

            }

        }

        /*End of step one style*/

    }


    /*Start of container 3 style*/
    .billing__details__container {
        position: relative;
        // width: 500px;

        display: flex;

        .addressess {
            display: flex;
            justify-content: space-between;
            float: left;
            flex-flow: wrap;
            // grid-gap: 96px;
            grid-gap: 46px;
            margin-top: 40px;

            .left-col-details,
            .right-col-details {
                padding: 25px 35px;
            }


            .left_col {
                // width: 772px;
                min-width: 450px;
                flex-grow: 1;
                max-height: 200px;

                background: #FFFFFF;
                box-shadow: 0px 5px 20px $shopping_boxes_shadow;
                // border: 2px solid #1E96ED;
                border-radius: 37px;
                flex-grow: 2;
                // align-items: center;
                align-content: center;
                cursor: pointer;

                h4 {
                    font-weight: bold;
                }

                .left-col-details {
                    position: relative;

                    .btn-actions {
                        display: flex;
                        float: right;

                        .edit-btn {
                            // margin-right: 26.47px;

                            a {
                                text-decoration: underline;
                            }
                        }

                        .delete-btn {
                            position: relative;

                            .fa-trash {
                                color: #FF0707;
                            }
                        }

                    }
                }
            }

            .right_col {
                // width: 772px;
                min-width: 450px;
                flex-grow: 1;
                max-height: 200px;
                background: #FFFFFF;
                box-shadow: 0px 5px 20px $shopping_boxes_shadow;
                border-radius: 37px;
                flex-grow: 2;
                cursor: pointer;

                h4 {
                    font-weight: bold;
                }

            }

            .btn-actions {
                position: relative;
                display: flex;
                float: right;

                .edit-btn,
                .delete-btn {
                    // margin-right: 26.47px;
                    margin: 10px 20px;

                    a {
                        text-decoration: underline;
                    }
                }

                .delete-btn {
                    position: relative;

                    .fa-trash {
                        color: #FF0707;
                    }
                }

            }

            /*Start of add new address*/
            .add_new_address {
                position: relative;
                display: flex;
                justify-content: space-around;
                // width: 154px;
                width: auto;
                max-height: 170px;
                flex-grow: .4;
                background: #FFFFFF;
                box-shadow: 0px 5px 20px $shopping_boxes_shadow;
                border-radius: 37px;
                cursor: pointer;

                .add_n_ad-col-details {
                    justify-items: center;
                    margin: 70px auto;


                    a {
                        font-size: 25px;
                        color: #0087EA;

                    }
                }
            }

            /*End of add new address*/


            @media(max-width: 768px) {
                .add_new_address {
                    width: 76%;
                    border-radius: 0px;

                }
            }




        }

        @media(max-width: 768px) {


            .addressess {
                display: block;
                flex-flow: row wrap;

                .left_col {
                    width: 100%;
                    height: auto;
                    box-shadow: 0px 5px 20px $shopping_boxes_shadow;
                    border: .2px solid #1E96ED;
                    border-radius: 0px;
                    margin-bottom: 20px;
                }

                .right_col {
                    width: 100%;
                    height: auto;
                    box-shadow: 0px 5px 20px $shopping_boxes_shadow;
                    border: .2px solid #1E96ED;
                    border-radius: 0px;
                    margin-bottom: 20px;
                }
            }

        }
    }

    /*End of container 3 style*/

    /*Start of paypal image*/
    .paypal_container {
        position: relative;
        // width: 35%;
        width: 772px;
        margin: 81px auto;

        h2 {
            text-align: center;
            margin: 64px;
        }

        .btn-outline-secondary {
            // width: 772px;
            width: 100%;
            height: 112px;
            // margin: 83px 0px 20px 307px;
            background: #FFFFFF;
            box-shadow: 0px 5px 20px #00000045;
            border-radius: 37px;
            opacity: 1;
            border: 0px;
        }

        img {

            padding: 0;
            width: 185px;
            margin: 20px auto;
            height: auto;
        }






    }

    @media(max-width: 768px) {
        .paypal_container {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            margin: auto;

        }

        .btn-outline-secondary {
            width: 150px;
            height: 112px;
            background: #FFFFFF;
            box-shadow: 0px 5px 20px #00000045;
            border-radius: 37px;
            border: 0px;
            margin: 20px auto !important;

        }

        img {
            padding: 0;
            width: 100%;
            // margin: 20px auto;

        }
    }

    /*End of paypal image*/



    /*Start of go back to cart and next btns*/
    .go_back_next_btn {

        // display: flex;
        margin: 133px auto;

        .btn-secondary {
            width: 289px;
            height: 64px;
            line-height: 64px;
            text-align: center;
            padding: 0px;
            font-weight: bold;
            box-shadow: 0px 5px 9px #00000026;
            border-radius: 2px;
        }

        .btn-primary {
            width: 289px;
            height: 64px;
            line-height: 64px;
            text-align: center;
            padding: 0px;
            font-weight: bold;
            background-color: #0087EA;
            border: 1px solid #0087EA;
            box-shadow: 0px 5px 9px #00000026;
            border-radius: 2px;
        }
    }

    @media(max-width: 768px) {
        .go_back_next_btn {
            margin: 25px auto 25px 25px;

        }

        .btn-secondary {
            width: auto;
            height: 64px;
            margin-bottom: 25px;
            text-align: center;
            padding: 0px;
            font-weight: bold;
            box-shadow: 0px 5px 9px #00000026;
            border-radius: 2px;
        }

        .btn-primary {
            width: auto;
            height: 64px;
            text-align: center;
            padding: 0px;
            font-weight: bold;
            background-color: #0087EA;
            border: 1px solid #0087EA;
            box-shadow: 0px 5px 9px #00000026;
            border-radius: 2px;
            margin-bottom: 25px;
        }
    }



    /*End of go back to cart and next btns*/


}