<section class="checkout_billing_container">
  <!-- Start of Shared menu -->
  <app-checkout-menu></app-checkout-menu>
  <!-- Start of Shared menu -->
  <!-- Start of  main container -->
  <!-- Start of container 3 -->
  <div class="container">
    <h2>Billing Details</h2>
    <div class="row">
      <div class="bx-1">
        <div class="col-md-10">
          <h3>Saved Method</h3>
          <p class="font-weight-bold">
            Mastercard ending in 1234<br />
            <span class="font-weight-normal">
              <a href="/cart-edit-address" data-toggle="modal" data-target="#editwModal">Billing Address:</a>
              same as shipping<br />
            </span>
          </p>
        </div>
        <!-- <div class="col-md-3 mt-2">  -->
        <div class="mt-2">
          <a href="/cart-edit-address" data-toggle="modal" data-target="#editwModal">Edit</a>
          &nbsp;
          <a href="/checkout-delete-alert" data-toggle="modal" data-target="#chekcoutDeleteModel">
            <i class="fa fa-trash text-danger"></i>
          </a>
        </div>
      </div>
      <!-- Start of the two box -->
      <div class="bx-2">
        <div class="col-md-10">
          <h3>Saved Method</h3>
          <p class="font-weight-bold">
            Mastercard ending in 1234<br />
            <span class="font-weight-normal">
              <a href="/cart-edit-address" data-toggle="modal" data-target="#editwModal">Billing Address:</a>
              same as shipping<br />
            </span>
          </p>
        </div>
        <!-- <div class="col-md-3 mt-2"> -->
        <div class="mt-2">
          <a href="/cart-edit-address" data-toggle="modal" data-target="#editwModal">Edit</a>
          &nbsp;
          <a href="/checkout-delete-alert" data-toggle="modal" data-target="#chekcoutDeleteModel">
            <i class="fa fa-trash text-danger"></i>
          </a>
        </div>
        <!-- </div> -->
      </div>
      <!-- End of the two box -->
    </div>
  </div>
  <!-- Start of add new address -->
  <div class="container">
    <div class="new__address">
      <div class="row">
        <div class="col-md-6">
          <div class="add_address">
            <a href="/add-creditcard" class="fal fa-plus-circle" data-toggle="modal" data-target="#addCreditCardwModal">
              Add new debit/credit card</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End of add new address -->
    <!-- End of container 3 -->
    <!-- Start of Paypal btn -->
    <div class="paypal_container">
      <div class="container">
        <h2>OR</h2>
        <div class="row">
          <div class="col-md-8 mx-auto">
            <a href="https://www.paypal.com/us/signin" class="btn btn-outline-secondary">
              <img src="/assets/images/paypal-logo.png" alt="paypal logo" class="img-fluid" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Paypal btn -->
    <!-- Start btns back to cart a& next -->
    <div class="go_back_next_btn">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="/checkout" class="btn btn-secondary"> Back to Cart</a>
          </div>
          <div class="col-md-6">
            <a href="/checkout-review" class="btn btn-primary"> Next</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End btns back to cart a& next -->
  </div>
  <!-- End of  main container -->
</section>
<app-cart-add-new-address></app-cart-add-new-address>
<app-cart-edit-form></app-cart-edit-form>
<app-add-creditcard></app-add-creditcard>
<app-checkout-delete-alert></app-checkout-delete-alert>
