$main_bg_color: #C92570;
$main_text_color: #C92570;
$btn_danger_hover_bg: #C93679;
$what_we_offer_p_color: #525252;


.langing-page {
  height: auto;
  // background-color: #f4f3f3;
  position: relative;


  .top-navigation {
    position: relative;

    nav {
      position: relative;

      .form-inline {
        .text-danger {
          color: $main_bg_color !important;
          font-weight: bold;
        }

        .btn-danger {
          // width: 135px;
          // height: 48px;
          margin: auto;
          background-color: $main_bg_color;
          text-align: left;
          color: #fff;
          font-weight: bold;
          font-size: 24px;

        }
      }


    }
  }

  /*Start of main slide style*/
  .main-slider-container {
    position: relative;

    .carousel {
      width: auto;
      height: 85vh;
      // color: #fff;
      margin-bottom: 100px;

      .carousel-inner {
        position: relative;

        .carousel-img-1 {
          width: 100%;
          height: auto;
          // height: 65vh;
          height: 85vh;
          background: url(/assets/images/slider-01.png);
          background-size: 100% 100%;
          display: block;
          background-repeat: no-repeat;
          background-position: center center;
          padding: 180px 0px;
          object-fit: cover;
          // margin-bottom: 20px;
          background-size: cover;

        }

        h4 {
          font-size: 56px;
          // font-family: "Suise Intl's", Semi Bold;
          color: #fff;
          font-weight: normal;

          .h4-excel,
          .achieve,
          .succeed {
            font-size: 56px;
            font-weight: bold;

          }
        }

        p {
          color: #fff;
        }

        .carousel-img-2 {
          width: 100%;
          height: auto;
          // height: 65vh;
          height: 85vh;
          background: url(/assets/images/slider-02.png);
          background-size: 100% 100%;
          display: block;
          background-repeat: no-repeat;
          background-position: center center;
          padding: 180px 0px;
          object-fit: cover;
          margin-bottom: 20px;
          background-size: cover;
          overflow: hidden;

          h4 {
            color: #000;
            font-size: 56px;
            // font-family: "Suise Intl's", Semi Bold;
            font-weight: normal;

            .discover,
            .post {
              font-size: 56px;
              font-weight: bold;
            }
          }

          p {
            color: #222222;
            font-size: 24px;
            width: 80%;
          }
        }

        .carousel-img-3 {
          width: 100%;
          height: auto;
          // height: 65vh;
          height: 85vh;
          background: url(/assets/images/slider-03.png);
          background-size: 100% 100%;
          display: block;
          background-repeat: no-repeat;
          background-position: center center;
          padding: 180px 0px;
          object-fit: cover;
          margin-bottom: 20px;
          background-size: cover;
          overflow: hidden;

          h4 {
            position: relative;

            .finance {
              font-size: 56px;
              font-weight: bold;
            }
          }

          p {
            color: #fff;
            font-size: 24px;
          }
        }

        .carousel-img-4 {
          width: 100%;
          height: auto;
          // height: 65vh;
          height: 85vh;

          background: url(/assets/images/slider-04.png);
          background-size: 100% 100%;
          display: block;
          background-repeat: no-repeat;
          background-position: center center;
          padding: 180px 0px;
          object-fit: cover;
          margin-bottom: 20px;
          background-size: cover;
          overflow: hidden;

          h4 {
            position: relative;
            color: #222222;

            .lifestyle {
              font-size: 56px;
              font-weight: bold;
            }
          }

          p {
            color: #222222;
            font-size: 24px;

          }
        }

      }



      .carousel-indicators li {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }

      .carousel-indicators li.active {
        background-color: $main_bg_color !important;
      }

      .carousel-inner {
        position: relative;
        overflow: hidden;

        .carousel-caption {
          float: left;
        }

        .btn-danger {
          width: 189px;
          height: 60px;
          line-height: 35px;
          background-color: $main_bg_color;
          border: 1px solid #C92570;
          box-shadow: 0px 5px 9px #00000019;
          border-radius: 2px;
          font-size: 21px;
          text-align: center;
          // margin: 24px auto;

          &:hover {
            background-color: $btn_danger_hover_bg;
            cursor: pointer;
          }
        }
      }
    }
  }

  @media(max-width: 768px) {
    .main-slider-container {
      margin-bottom: 20px;

      .carousel {
        position: relative;
        // height: 100vh;
        width: 100%;
        height: 100vh;
        height: auto;
        display: block;
        margin-bottom: auto;

        .carousel-inner {
          position: relative;
          height: auto;

          .carousel-img-1,
          .carousel-img-2,
          .carousel-img-3,
          .carousel-img-4 {
            position: relative;
            width: 100%;
            height: 100vh;
            max-height: 992px;
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            padding: 180px 0px;
            object-fit: cover;
            background-size: cover;
            margin-bottom: 0px;
            margin-top: -140px;
          }

          .carousel-img-1 {
            position: relative;

            h4 {
              font-size: 28px;
            }

            .h4-excel,
            .achieve,
            .succeed {
              font-size: 28px;
              font-weight: bold;
            }

          }

          .carousel-img-2 {
            position: relative;

            h4 {
              font-size: 28px;
            }

            .discover,
            .post {
              font-size: 28px !important;
              font-weight: bold;
            }

            p {
              color: #222222;
              font-size: 16px;
              width: 100%;
            }
          }

          .carousel-img-3 {
            position: relative;

            h4 {
              position: relative;
              font-size: 28px;

              .finance {
                font-size: 28px;
                font-weight: bold;
              }
            }

            p {
              color: #fff;
              font-size: 16px;
            }
          }

          .carousel-img-4 {
            position: relative;

            h4 {
              position: relative;
              color: #222222;
              font-size: 28px;

              .lifestyle {
                font-size: 28px;
                font-weight: bold;
              }
            }

            p {
              color: #222222;
              font-size: 16px;

            }
          }

          .btn-danger {
            width: 189px;
            height: 60px;
            background-color: $main_bg_color;
            border: 1px solid #C92570;
            box-shadow: 0px 5px 9px #00000019;
            border-radius: 2px;
            font-size: 21px;
            line-height: 35px;
            text-align: center;
            margin: 24px auto;

          }

        }


      }
    }

  }

  /*End of main slide style*/



  /*Start of what we offer style*/
  .what-we-offer {
    position: relative;

    .col-md-4 {
      height: 467px;
      // cursor: pointer;
      margin-bottom: 32px;

      &:hover {
        .fa-arrow-right {
          margin-left: 6px;

        }

        .left-box,
        .center-box,
        .right-box {
          height: 90%;
          background-color: #fff;
        }

      }

      a {
        color: $main_bg_color !important;
        font-weight: bold;

      }
    }

    img {

      width: 93px;
      height: 93px;
      margin: 60px auto 0px auto;
    }


    h1,
    h2 {
      font-size: 40px;
      color: #222222;
      font-weight: bold;
    }

    .left-box,
    .center-box,
    .right-box {
      // width: 440px;
      width: 100%;
      height: 90%;
      position: relative;
      background-color: #fff;
      border-radius: 0px !important;
      margin-bottom: 25px;

      &:hover {
        box-shadow: 0px 4px 20px #f0f0f0;
        -webkit-box-shadow: 0px 4px 20px #f0f0f0;
        -moz-box-shadow: 0px 4px 20px #f0f0f0;
        -ms-box-shadow: 0px 4px 20px #f0f0f0;
        -o-box-shadow: 0px 4px 20px #f0f0f0;
        cursor: pointer;
      }

      p {
        // padding: 0px 21px;
        color: #525252;
        margin: 24px;
      }
    }


    span.learn-m-btn {
      position: relative;
      text-align: center;

      .fa-arrow-right {
        margin-left: 2px;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
      }

    }
  }

  @media(max-width:768px) {
    .what-we-offer {
      display: block;

      .col-md-4 {
        width: 100%;
        margin-right: 0px;
        height: 467px;

        background-color: #FDFDFD;
        border: 1px solid #F7F7F7;
        margin-bottom: 32px;
      }
    }
  }

  /*========== End of what we offer style ===========*/


  /*Start of testimonial*/
  .testimonial {
    position: relative;

    h3 {
      font-size: 40px;
      color: #222222;
    }

    .left-box,
    .center-box,
    .right-box {
      // width: 424px;
      width: auto;
      height: 418px;
      position: relative;
      background-color: #FFFFFF;
      box-shadow: 0px 4px 20px #0000000A;
      -webkit-box-shadow: 0px 4px 20px #0000000A;
      -moz-box-shadow: 0px 4px 20px #0000000A;
      -ms-box-shadow: 0px 4px 20px #0000000A;
      -o-box-shadow: 0px 4px 20px #0000000A;
      border-radius: 10px;
      margin-bottom: 25px;

      h4 {
        color: #222222;
        font-size: 21px;
      }

      p {
        padding: 30px;
      }

      img {
        width: 136px;
        height: 136px;
        border-radius: 50%;
        margin: 60px auto 0px auto;
      }
    }
  }

  /*End of testimonial*/

  /*Start of compnay hiring*/
  .company-hiring {
    position: relative;
    // margin-top: 232px;
    margin-top: 100px;

    h3 {
      font-size: 40px;
      color: #222222;
    }

    p {
      width: 86%;
    }

    img {
      width: 100%;
      height: auto;
    }

    a.btn-danger {
      width: 189px;
      // height: 60px;
      // height: 50px;
      height: auto;
      font-size: 24px;
      text-align: center;
      background-color: $main_bg_color;
      border: 1px solid $main_bg_color;
      border-radius: 2px;

      // font-weight: bold;
      // padding: 13px;
      &:hover {
        background-color: $btn_danger_hover_bg;
        cursor: pointer;
      }
    }
  }

  /*End of compnay hiring*/


  /* Start of stick tother style*/
  .stick-together {
    position: relative;
    margin-top: 100px;
    margin-bottom: 40px;

    h3 {
      position: relative;
      font-size: 40px;
      color: #222222;

      span {
        color: $main_text_color;
      }
    }

    p {
      width: 86%;
    }

    img {
      width: 100%;
    }

    .btn-danger {
      width: 189px;
      // height: 60px;
      // height: 50px;
      height: auto;
      font-size: 24px;
      background-color: $main_bg_color;
      // padding: 12px;
      text-align: center;
      border-radius: 2px;

      &:hover {
        background-color: $btn_danger_hover_bg;
        cursor: pointer;
      }

    }


  }

  /* End of stick tother style*/


}