<section class="langing-page">
  <!-- Start of main navigation -->
  <div class="top-navigation" style="display: none;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img
          src="assets/images/project-logo.png"
          class="img-fluid"
          alt="logo"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarMainNav"
        aria-controls="navbarMainNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMainNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >PANTSUIT PROFESSIONAL <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <a class="nav-link text-danger" href="#">LOGIN</a>
          <a class="nav-link btn btn-danger btn-sm" href="#">JOIN</a>
        </div>
      </div>
    </nav>
  </div>
  <!-- End of main navigation -->
  <!-- Start of carousel div -->
  <div class="main-slider-container">
    <div
      id="myCarousel"
      class="carousel slide carousel-fade"
      data-ride="carousel"
    >
      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item carousel-img-1 active">
          <div class="flex-center">
            <div class="container">
              <div class="row align-items-center mb-5">
                <div class="col-md-7 col-xs-12 order-md-1 order-2">
                  <h4>
                    Helping women <b class="h4-excel">Excel</b>, <br />
                    <b class="achieve">Achieve</b> and
                    <b class="succeed">Succeed.</b>
                  </h4>
                  <p>
                    Join our community for a low price of $4.99 per month where
                    you can build your professional network, expand on your
                    brand, and learn how to manage your finances!
                  </p>
                  <a href="#" class="btn btn-danger btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-img-2">
          <div class="flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-xs-12 order-md-1 order-2">
                  <h4>
                    <b class="discover">Discover</b> Jobs or
                    <b class="post">Post</b> <br />
                    your Jobs
                  </h4>
                  <p>
                    Discover jobs posted here. Apply for any job or post your
                    companies job posting here to find talent and hard working
                    employees.
                  </p>
                  <a href="#" class="btn btn-danger btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-img-3">
          <div class="flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-6 col-xs-12 order-md-1 order-2">
                  <h4>Learn about <b class="finance">finances</b></h4>
                  <p>
                    You will learn how to manage your money, invest in the Stock
                    Market, how to make smart investments in general, and how to
                    get multiple streams of income.
                  </p>
                  <a href="#" class="btn btn-danger btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-img-4">
          <div class="flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-6 col-12 order-md-1 order-2">
                  <h4>
                    Read our
                    <b class="lifestyle"
                      >Lifestyle <br />
                      Blogs</b
                    >
                  </h4>
                  <p>
                    We also offer Premium Lifestyle Blogs based on work, travel,
                    money, fashion, beauty, food and entertainment. There will
                    be new blogs posted daily so that you always have something
                    to read!
                  </p>
                  <a href="#" class="btn btn-danger btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--slide end-->
  </div>
  <!-- End of carousel div -->
  <!-- </div> -->
  <!-- End of carousel div -->
  <!-- Start of what we offer div-->
  <div class="what-we-offer">
    <div class="container" style="display: none;">
      <h2 class="text-center mb-4 mt-2">What we offer:</h2>
      <div class="row">
        <div class="col-md-4 text-center events">
          <img
            src="assets/images/calendar.svg"
            alt="Events"
            class="img-fluid events"
          />
          <h3 class="mt-3 mb-3"><b>Events</b></h3>
          <p>
            Events will be hosted by corporations, entrepreneurs and more where
            you can attend!
          </p>
          <p class="learn-m-btn">
            <a href="/landing-sidebar" class="text-danger" id="events"
              >Learn More
              <i class="fas fa-arrow-right"></i>
            </a>
          </p>
        </div>
        <div class="col-md-4 text-center">
          <img src="assets/images/jobs.svg" alt="jobs" class="img-fluid jobs" />
          <h3 class="mt-3 mb-3"><b>Jobs</b></h3>
          <p>
            Employers post your jobs. Users, search for your next job at your
            favorite company; get discovered!
          </p>
          <p class="learn-m-btn">
            <a href="/landing-sidebar" class="text-danger" id="jobs"
              >Learn More
              <i class="fas fa-arrow-right"></i>
            </a>
          </p>
        </div>
        <div class="col-md-4 text-center">
          <img
            src="assets/images/networking.svg"
            alt="networking"
            class="img-fluid networking"
          />
          <h3 class="mt-3 mb-3"><b>Networking</b></h3>
          <p>
            Become a member and meet professionals like yourself. Expand your
            Network!
          </p>
          <p class="learn-m-btn">
            <a href="/landing-sidebar" class="text-danger"
              >Learn More
              <i class="fas fa-arrow-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Start of second container -->
    <div class="container mt-5" style="display: none;">
      <div class="row">
        <div class="col-md-4 text-center">
          <img
            src="assets/images/blogging.svg"
            alt="blog"
            class="img-fluid blog"
          />
          <h3 class="mt-3 mb-3"><b>Blogs</b></h3>
          <p>
            Read blog posts on important things like work, beauty, fashion,
            money, travel, entertainment and food!
          </p>
          <p class="learn-m-btn">
            <a href="/landing-sidebar" class="text-danger"
              >Learn More
              <i class="fas fa-arrow-right"></i>
            </a>
          </p>
        </div>
        <div class="col-md-4 text-center">
          <img
            src="assets/images/money.svg"
            alt="money"
            class="img-fluid money"
          />
          <h3 class="mt-3 mb-3"><b>Money</b></h3>
          <p>
            Learn how to manage your money or open your first investment
            account!
          </p>
          <p class="learn-m-btn">
            <a href="/landing-sidebar" class="text-danger"
              >Learn More
              <i class="fas fa-arrow-right"></i>
            </a>
          </p>
        </div>
        <div class="col-md-4 text-center">
          <img
            src="assets/images/discount.svg"
            alt="discount"
            class="img-fluid discount"
          />
          <h3 class="mt-3 mb-3"><b>Discounts</b></h3>
          <p>
            Get discounts for products or events hosted by companies we partner
            with.
          </p>
          <p class="learn-m-btn">
            <a href="/landing-sidebar" class="text-danger"
              >Learn More
              <i class="fas fa-arrow-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- End of second container -->
  </div>
  <!-- End of what we offer div -->

  <!-- Start of first testimonial container -->
  <div class="jobs-testimonial">
    <div class="container mt-4 mb-3">
      <h1 class="text-center mb-4 mt-5">What we offer:</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="left-box text-center">
            <img
              src="assets/images/calendar.svg"
              class="img-fluid"
              alt="Calender"
            />
            <h2 class="mt-3">Events</h2>
            <p>
              Events will be hosted by corporations, entrepreneurs and more
              where you can attend!
            </p>
            <span class="learn-m-btn">
              <a href="/landing-sidebar" class="text-danger"
                >Learn More
                <i class="fas fa-arrow-right"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="center-box text-center">
            <img src="assets/images/jobs.svg" class="img-fluid" alt="Carolyn" />
            <h2 class="mt-3">Jobs</h2>
            <p>
              Employers post your jobs. Users, search for your next job at your
              favorite company; get discovered!
            </p>
            <span class="learn-m-btn">
              <a href="/landing-sidebar" class="text-danger"
                >Learn More
                <i class="fas fa-arrow-right"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="right-box text-center">
            <img
              src="assets/images/networking.svg"
              class="img-fluid"
              alt="Newtorking"
            />
            <h2 class="mt-3">Networking</h2>
            <p>
              Become a member and meet professionals like yourself. Expand your
              Network!
            </p>
            <span class="learn-m-btn">
              <a href="/landing-sidebar" class="text-danger"
                >Learn More
                <i class="fas fa-arrow-right"></i>
              </a>
            </span>
          </div>
        </div>
      </div>

      <!--============== Start of second row =============== -->
      <div class="row">
        <div class="col-md-4">
          <div class="left-box text-center">
            <img
              src="assets/images/blogging.svg"
              class="img-fluid"
              alt="Blogs"
            />
            <h2 class="mt-3">Blogs</h2>
            <p>
              Read blog posts on important things like work, beauty, fashion,
              money, travel, entertainment and food!
            </p>
            <span class="learn-m-btn">
              <a href="/landing-sidebar" class="text-danger"
                >Learn More
                <i class="fas fa-arrow-right"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="center-box text-center">
            <img src="assets/images/money.svg" class="img-fluid" alt="Money" />
            <h2 class="mt-3">Money</h2>
            <p>
              Learn how to manage your money or open your first investment
              account!
            </p>
            <span class="learn-m-btn">
              <a href="/landing-sidebar" class="text-danger"
                >Learn More
                <i class="fas fa-arrow-right"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="right-box text-center">
            <img
              src="assets/images/discount.svg"
              class="img-fluid"
              alt="Discounts"
            />
            <h2 class="mt-3">Discounts</h2>
            <p>
              Get discounts for products or events hosted by companies we
              partner with.
            </p>
            <span class="learn-m-btn">
              <a href="/landing-sidebar" class="text-danger"
                >Learn More
                <i class="fas fa-arrow-right"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!--============== End of second row =============== -->
    </div>
  </div>
  <!-- End of first testimonial container -->

  <!-- Start of testimonial div -->
  <div class="testimonial">
    <div class="container mt-4 mb-3">
      <h3 class="text-center mb-4 mt-5">What people are saying about us:</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="left-box text-center">
            <img
              src="https://source.unsplash.com/136x136/?female"
              class="img-fluid"
              alt="Victoria"
            />
            <h4 class="mt-3">Victoria</h4>
            <p>
              “I was able to get a new job position by using the job board here
              on Pantsuit Professionals.”
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="center-box text-center">
            <img
              src="https://source.unsplash.com/136x136/?female"
              class="img-fluid"
              alt="Carolyn"
            />
            <h4 class="mt-3">Carolyn</h4>
            <p>
              “Pantsuit Professionals helped me expand my network by using their
              membership directory.”
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="right-box text-center">
            <img
              src="https://source.unsplash.com/136x136/?female"
              class="img-fluid"
              alt="Jamie"
            />
            <h4 class="mt-3">Jamie</h4>
            <p>
              “Pantsuit Professionals helped me with my finances and they also
              helped me learn about the stock market.”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of testimonial div -->
  <!-- Start of  company hiring div-->
  <div class="company-hiring">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <img
            src="https://source.unsplash.com/1600x1000/?female"
            class="img-fluid"
            alt="jobs image"
          />
        </div>
        <div class="col-md-7">
          <h3 class="mb-2">Is your company hiring?</h3>
          <p>
            Is your company looking to hire? Sign up and you’ll be able to post
            a job on our job board that will reach all of our talented and hard
            working members who are looking for a role change or new job
            opportunities!
          </p>
          <a href="#" class="btn btn-danger btn-lg">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End of  company hiring div-->
  <!-- Start of stick together -->
  <div class="stick-together">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>We have to stick <span class="together">together</span></h3>
          <p>
            Join our community of forward thinking, game changing women! You can
            attend events hosted by us or other top companies. You can also read
            interesting articles that will give you new insights on trending
            topics.
          </p>
          <a href="#" class="btn btn-danger btn-lg">Sign Up</a>
        </div>
        <div class="col-md-6 mt-4">
          <img src="assets/images/art.svg" class="img-fluid" alt="art" />
        </div>
      </div>
    </div>
  </div>
  <!-- End of stick together -->
</section>
<script>
  $("#myCarousel").carousel({
    interval: 322000,
  });
</script>
