<section class="bags_details">
  <div class="container">
    <div class="container">
      <div class="bags-breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Landing Page</a></li>
            <li class="breadcrumb-item"><a href="/bags">Landing Page</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Product Item Page
            </li>
          </ol>
        </nav>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-12 mb-4">
          <!-- Start of bags carousel -->
          <div class="bags__carousel">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class="d-block w-100"
                    src="/assets/images/shopping-bag.jpg"
                    alt="bag 1"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="/assets/images/cap.jpg"
                    alt="bag 2"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="/assets/images/t-shirt.jpg"
                    alt="bag 2"
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <!-- class="carousel-control-prev-icon" -->
                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <!-- class="carousel-control-next-icon" -->
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!-- End of bags carousel -->
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bag__details">
            <h3>Namg of Item</h3>
            <p class="short__description">
              <small>Short Description in 1-2 sentence</small>
            </p>
            <p><b>$50.00</b></p>
            <p><b>Color</b></p>
            <div class="colors">
              <div class="black-container">
                <div class="black">
                  <span>Black</span>
                </div>
              </div>
              <div class="black-container">
                <div class="pink">
                  <span>Beige</span>
                </div>
              </div>
              <div class="black-container">
                <div class="white">
                  <span>White</span>
                </div>
              </div>
            </div>

            <!-- Start of size section -->
            <div class="all-sizes">
              <p><b>Sizes</b></p>

              <div class="sizes">
                <div class="xs">
                  <span>XS</span>
                </div>
                <div class="s">
                  <span>S</span>
                </div>
                <div class="m">
                  <span>M</span>
                </div>
                <div class="l">
                  <span>L</span>
                </div>
                <div class="xl">
                  <span>XL</span>
                </div>
              </div>
            </div>
            <!-- Start of size section -->

            <!-- Start of quality section -->
            <div class="quality">
              <p><b>Quality</b></p>
              <select class="form-control" name="quality" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="add_to_cart_btn">
              <button class="btn btn-outline-danger">
                Add to Cart
              </button>
            </div>

            <!-- End of quality section -->
          </div>
        </div>

        <!-- Start of product description -->
        <div class="product_details">
          <h2>Product Details</h2>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est. Lorem ipsum dolor sit amet. Stet clita
            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
            amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet.
          </p>
          <h2>Shipping & Return Policies</h2>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est
          </p>

          <p>
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet.
          </p>
        </div>
        <!-- End of product description -->
      </div>
    </div>
  </div>
</section>
