<!-- The Modal -->
<section class="delete_modal">
  <div class="modal" id="chekcoutDeleteModel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">
            Are you sure you want to delete this address?
          </h5>
          <!-- <button
            type="button"
            class="close"
            data-dismiss="modal"
            style="opacity: 1;"
          >
             
            <i class="fal fa-times text-danger"></i>
          </button> -->
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="yes-delete">
                  <a href="/checkout" class="btn btn-outline-danger">
                    <b>Yes</b>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="no-delete">
                  <a href="/checkout" class="btn btn-outline-danger">
                    <b>No</b>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="close-btn">
                  <button type="button" class="close" data-dismiss="modal" style="opacity: 1;">
                    <i class="fal fa-times text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
