<section class="checkout_review_container">
  <div class="container">
    <h2>Cart Items</h2>
    <div class="row">
      <!-- Start of left box -->
      <div class="col">
        <div class="left_box">
          <img src="/assets/images/shopping-bag.jpg" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col">
        <h4>Name of Item</h4>
        <div class="colors">
          <span>Colors</span>
        </div>
      </div>
      <div class="col">
        <h4>$50.00</h4>
      </div>
      <!-- End of left box -->
    </div>

    <div class="col">
      <h4>Summary</h4>
    </div>
  </div>
</section>
