<section class="cart_items_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top_items">
          <div class="back_to_shopping">
            <a href="/bags">Back to shopping</a>
          </div>
          <div class="item_cart_basket">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge badge-danger">1</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start of the second container -->
<section class="container">
  <div class="row">
    <div class="cart_title">
      <h3>Cart Items</h3>
    </div>
  </div>
  <div class="bx-bg">
    <div class="all_cart_items">
      <div class="box_one">
        <img
          src="/assets/images/shopping-bag.jpg"
          alt=""
          class="img-responsive"
        />
      </div>
      <div class="box_two">
        <div class="cart_item_list">
          <h4>Name of Items</h4>
          <div class="list">
            <span>Color</span>
            <span>Size</span>
            <span>Quality</span>
          </div>
          <div class="color_boxes_container">
            <div class="colors">
              <div class="black_box"></div>
              <select name="" id="">
                <option value="black">Black</option>
                <option value="seige">Seige</option>
                <option value="white">White</option>
              </select>
            </div>

            <div class="size">
              <select name="" id="">
                <option value="m">M</option>
                <option value="m">LG</option>
                <option value="m">S</option>
                <option value="m">XL</option>
              </select>
            </div>
            <div class="quality">
              <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Start of links -->
        <div class="links">
          <ul>
            <li><a href="#">Remove</a></li>
            <li><a href="#">Add to Wishlist</a></li>
          </ul>
        </div>
        <!-- Start of links -->
      </div>
      <div class="box_three">
        <h3>$50.00</h3>
      </div>

      <div class="box_four">
        <div class="subs">
          <div class="sub_total">
            <h3>Subtotal</h3>
          </div>
          <div class="total">
            <h3>$150.00</h3>
          </div>
        </div>
        <div class="total_form">
          <form action="#" method="POST">
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Ente your prmo code"
                required
              />

              <input
                type="submit"
                value="Apply"
                class="btn btn-danger btn-sm"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Start of Wishlist -->

    <div class="wish_list">
      <div class="row-1">
        <h3>Wishlit</h3>
        <p>Your wishlist is empty!</p>
      </div>
      <div class="row-2">
        <div class="fa fa-chevron-down"></div>
      </div>
    </div>
    <!-- End of Wishlist -->
  </div>
</section>
<!-- End of the second container -->
