html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: auto;
  font-family: SuisseIntl-Regular;

}

@font-face {
  font-family: SuisseIntl-Regular;
  src: url('assets/fonts/SuisseIntl-Regular.otf');
  src: url('assets/fonts/SuisseIntl-SemiBold.otf');
  src: url('assets/fonts/SuisseIntl-Thin.otf');

}