$checkout_main_color: #C92570;
$shopping_boxes_shadow:#00000045;

.checkout_container {
  position: relative;

  .container_one {
    margin-bottom: 51px;

  }

  .container_two {
    // width: 1920px;
    height: 156px;
    background: #F7F7F7;
    margin-bottom: 75px;

    /*Start of step one style*/
    .step_one {

      position: relative;
      padding: 40px 0px;

      ul {
        display: flex;
        list-style: none;
        justify-content: space-between;


        li {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          line-height: 56px;
          text-align: center;
          font-weight: bold;
          border: 1px solid #000;


          a {
            color: #000;
            text-decoration: none;
          }

          a:first-of-type {
            color: #000;
          }

          h4 {
            font-weight: bold;
            font-size: 20px;
            margin-left: -15px;

          }
        }

        .active {
          background-color: $checkout_main_color;
          border: 1px solid $checkout_main_color;

          font-size: 20px;
          color: $checkout_main_color;

        }

      }

    }

    /*End of step one style*/

  }


  /*Start of container 3 style*/
  .shipping__details__container {
    position: relative;
    // width: 500px;

    display: flex;

    .addressess {
      display: flex;
      justify-content: space-between;
      float: left;
      flex-flow: wrap;
      // grid-gap: 96px;
      grid-gap: 46px;
      margin-top: 40px;

      .left-col-details,
      .right-col-details {
        padding: 25px 35px;
      }


      .left_col {
        // width: 772px;
        min-width: 450px;
        flex-grow: 1;
        max-height: 200px;

        background: #FFFFFF;
        box-shadow: 0px 5px 20px $shopping_boxes_shadow;
        border: 2px solid #1E96ED;
        border-radius: 37px;
        flex-grow: 2;
        // align-items: center;
        align-content: center;
        cursor: pointer;

        .left-col-details {
          position: relative;

          .btn-actions {
            display: flex;
            float: right;

            .edit-btn {
              // margin-right: 26.47px;

              a {
                text-decoration: underline;
              }
            }

            .delete-btn {
              position: relative;

              .fa-trash {
                color: #FF0707;
              }
            }

          }
        }
      }

      .right_col {
        // width: 772px;
        min-width: 450px;
        flex-grow: 1;
        max-height: 200px;
        background: #FFFFFF;
        box-shadow: 0px 5px 20px $shopping_boxes_shadow;
        border-radius: 37px;
        flex-grow: 2;
        cursor: pointer;

      }

      .btn-actions {
        position: relative;
        display: flex;
        float: right;

        .edit-btn,
        .delete-btn {
          // margin-right: 26.47px;
          margin: 10px 20px;

          a {
            text-decoration: underline;
          }
        }

        .delete-btn {
          position: relative;

          .fa-trash {
            color: #FF0707;
          }
        }

      }

      /*Start of add new address*/
      .add_new_address {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-width: 450px;
        // width: 25%;
        height: 200px;
        // width: 772px;
        // height: 306px;
        flex-grow: .4;
        background: #FFFFFF;
        box-shadow: 0px 5px 20px $shopping_boxes_shadow;
        border-radius: 37px;
        cursor: pointer;

        .add_n_ad-col-details {
          justify-items: center;
          margin: 80px auto;


          a {
            font-size: 25px;
            color: #0087EA;

          }
        }
      }

      /*End of add new address*/







    }

    @media(max-width: 768px) {
      .addressess {
        display: block;
        flex-flow: row wrap;

        .left_col {
          width: 100%;
          height: auto;
          box-shadow: 0px 5px 20px $shopping_boxes_shadow;
          border: .2px solid #1E96ED;
          border-radius: 0px;
          margin-bottom: 20px;
        }

        .right_col {
          width: 100%;
          height: auto;
          box-shadow: 0px 5px 20px $shopping_boxes_shadow;
          border: .2px solid #1E96ED;
          border-radius: 0px;
          margin-bottom: 20px;
        }
      }

    }
  }

  /*End of container 3 style*/





  /*Start of go back to cart and next btns*/
  .go_back_next_btn {
    // max-width: 450px;
    display: flex;
    margin: 133px auto;

    .btn-secondary {
      background-color: #E6E6E6;
      width: 289px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      padding: 0px;
      font-weight: bold;
      box-shadow: 0px 5px 9px #E6E6E6;
      border-radius: 2px;
      border: 1px solid #E6E6E6;
      color: #000;
    }

    .btn-primary {
      width: 289px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      padding: 0px;
      font-weight: bold;
      background-color: #0087EA;
      border: 1px solid #0087EA;
      box-shadow: 0px 5px 9px #00000026;
      border-radius: 2px;
    }
  }

  @media(max-width: 768px) {
    .go_back_next_btn {
      display: block;
      margin: 108px 40px;
    }

    .btn-secondary {
      background-color: #E6E6E6;
      width: auto;
      height: 64px;
      line-height: 64px;
      text-align: center;
      padding: 0px;
      font-weight: bold;
      box-shadow: 0px 5px 9px #E6E6E6;
      border-radius: 2px;
      border: 1px solid #E6E6E6;
      color: #000;
      margin-bottom: 20px;
    }
  }

  /*End of go back to cart and next btns*/


}