<section class="checkout_container">
  <div class="container_one">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h2>Checkout</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Start of second container -->
  <div class="container_two">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="step_one">
            <ul>
              <li class="active">
                <a href="#">1</a>
                <h4 class="">Shopping</h4>
              </li>
              <li>
                <a href="#">2</a>
                <h4>Billing</h4>
              </li>
              <li>
                <a href="#">3</a>
                <h4>Review</h4>
              </li>
              <li>
                <a href="#">4</a>
                <h4>Confirmation</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of second container -->

  <!-- Start of container 3 -->
  <div class="shipping__details__container">
    <div class="container">
      <h2>Shipping Details</h2>
      <div class="addressess">
        <div class="left_col">
          <div class="left-col-details">
            <!-- Start of btn action -->
            <div class="btn-actions">
              <div class="edit-btn">
                <a href="#">Edit</a>
              </div>
              <div class="delete-btn">
                <a href="#">
                  <i class="fa fa-trash"></i>
                </a>
              </div>
            </div>
            <!-- End of btn action -->
            <h4>Saved Address</h4>
            <h5>John Doe</h5>
            <h5>123 Alphabet Road</h5>
            <h5>Apartment 2A</h5>
            <h5>New York, NY 12345</h5>
          </div>
        </div>
        <div class="right_col">
          <!-- Start of btn action -->
          <div class="btn-actions">
            <div class="edit-btn">
              <a href="#">Edit</a>
            </div>
            <div class="delete-btn">
              <a href="#">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </div>
          <!-- End of btn action -->
          <div class="right-col-details">
            <h4>Saved Address</h4>
            <h5>John Doe</h5>
            <h5>123 Alphabet Road</h5>
            <h5>Apartment 2A</h5>
            <h5>New York, NY 12345</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of container 3 -->
</section>
