$checkout_main_color: #C92570;
$shopping_boxes_shadow:#00000045;

.checkout_container {
  position: relative;

  /*Start of container 3 style*/
  .shipping__details__container {
    position: relative;
    // width: 500px;
    display: flex;

    .addressess {
      display: flex;
      justify-content: space-between;
      // float: left;
      flex-flow: wrap;
      // grid-gap: 96px;
      grid-gap: 16px;
      margin-top: 40px;

      .left-col-details,
      .right-col-details {
        padding: 15px 20px;


      }


      .left_col {
        // width: 772px;
        max-width: 450px;
        flex-grow: 1;
        height: auto;

        background: #FFFFFF;
        box-shadow: 0px 5px 20px $shopping_boxes_shadow;
        border: 2px solid #1E96ED;
        border-radius: 37px;
        flex-grow: 2;
        // align-items: center;
        align-content: center;
        cursor: pointer;

        .left-col-details {
          position: relative;


          .btn-actions {
            display: flex;
            float: right;

            .edit-btn {
              // margin-right: 26.47px;

              a {
                text-decoration: underline;
              }
            }

            .delete-btn {
              position: relative;

              .fa-trash {
                color: #FF0707;
              }
            }

          }
        }
      }

      .right_col {
        // width: 772px;
        min-width: 450px;
        height: auto;
        flex-grow: 1;

        background: #FFFFFF;
        box-shadow: 0px 5px 20px $shopping_boxes_shadow;
        border-radius: 37px;
        flex-grow: 1;
        cursor: pointer;

      }

      .btn-actions {
        position: relative;
        display: flex;
        float: right;


        .edit-btn,
        .delete-btn {
          // margin-right: 26.47px;
          margin: 10px 20px;

          a {
            text-decoration: underline;
          }
        }

        .delete-btn {
          position: relative;

          .fa-trash {
            color: #FF0707;
          }
        }

      }

      /*Start of add new address*/
      .add_new_address {
        position: relative;
        display: flex;
        justify-content: space-around;
        min-width: 450px;
        max-height: 150px;
        flex-grow: .4;
        background: #FFFFFF;
        box-shadow: 0px 5px 20px $shopping_boxes_shadow;
        border-radius: 37px;
        cursor: pointer;

        .add_n_ad-col-details {
          justify-items: center;
          margin: 50px auto;


          a {
            font-size: 25px;
            color: #0087EA;

          }
        }
      }

      /*End of add new address*/







    }

    @media(max-width: 768px) {
      .addressess {
        display: block;
        // flex-flow: row wrap;

        .left_col {
          // width: 100%;
          height: auto;
          box-shadow: 0px 5px 20px $shopping_boxes_shadow;
          border: .2px solid #1E96ED;
          border-radius: 0px;
          margin-bottom: 20px;

          .left-col-details {
            width: 80%;
            border: 0px !important;

            h4,
            h5 {
              font-size: 14px;
            }
          }
        }

        .right_col {
          // min-width: 450px;
          min-width: 150px;
          display: block;
          height: auto;
          border-radius: 0px;


          .right-col-details {
            width: 80%;
            display: block;
            border: 0px !important;

            // padding: 10px 40px;
            h4,
            h5 {
              font-size: 14px;
            }

          }
        }


        .add_new_address {
          display: block;
          width: 150px;
          height: 150px;
          line-height: 150px;
          margin: 10px auto;
          background: #FFFFFF;
          box-shadow: 0px 5px 20px $shopping_boxes_shadow;
          border-radius: 0px;
          cursor: pointer;

          .add_n_ad-col-details {
            text-align: center;
          }
        }
      }

    }
  }




  /*End of container 3 style*/





  /*Start of go back to cart and next btns*/
  .go_back_next_btn {
    // max-width: 450px;
    display: flex;
    margin: 133px auto;

    .btn-secondary {
      background-color: #E6E6E6;
      width: 289px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      padding: 0px;
      font-weight: bold;
      box-shadow: 0px 5px 9px #E6E6E6;
      border-radius: 2px;
      border: 1px solid #E6E6E6;
      color: #000;
    }

    .btn-primary {
      width: 289px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      padding: 0px;
      font-weight: bold;
      background-color: #0087EA;
      border: 1px solid #0087EA;
      box-shadow: 0px 5px 9px #00000026;
      border-radius: 2px;
    }
  }

  @media(max-width: 768px) {
    .go_back_next_btn {
      display: block;
      margin: 108px 40px;
    }

    .btn-secondary {
      background-color: #E6E6E6;
      width: auto;
      height: 64px;
      line-height: 64px;
      text-align: center;
      padding: 0px;
      font-weight: bold;
      box-shadow: 0px 5px 9px #E6E6E6;
      border-radius: 2px;
      border: 1px solid #E6E6E6;
      color: #000;
      margin-bottom: 20px;
    }
  }

  /*End of go back to cart and next btns*/


}