$checkout_main_color: #C92570;
$shopping_boxes_shadow:#00000045;

.checkout_container {
  position: relative;

  .shipping__details__container {
    position: relative;

    h2 {
      margin-top: -50px;
      margin-bottom: 25px;
    }

    .bx-1 {
      width: 48%;
      max-height: 306px;
      display: flex;
      background: #FFFFFF;
      box-shadow: 0px 5px 20px #00000045;
      -webkit-box-shadow: 0px 5px 20px #00000045;
      -ms-box-shadow: 0px 5px 20px #00000045;
      -moz-box-shadow: 0px 5px 20px #00000045;
      -o-box-shadow: 0px 5px 20px #00000045;
      border-radius: 8px;
      padding: 10px 20px;

    }

    .bx-2 {
      width: 48%;
      max-height: 306px;
      display: flex;
      background: #FFFFFF;
      box-shadow: 0px 5px 20px #00000045;
      -webkit-box-shadow: 0px 5px 20px #00000045;
      -ms-box-shadow: 0px 5px 20px #00000045;
      -moz-box-shadow: 0px 5px 20px #00000045;
      -o-box-shadow: 0px 5px 20px #00000045;
      border-radius: 8px;
      padding: 10px 20px;
      margin-left: 2%;


    }


    /*Start of adding new address*/
    .new__address {
      margin-top: 40px;

      .col-md-6 {
        width: 100%;
        // height: 150px;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 5px 20px #00000045;
        border-radius: 8px;

        .add_address {
          margin: 60px auto;
          text-align: center;
          font-size: 23px;
        }
      }
    }

    /*End of adding new address*/

    @media(max-width: 768px) {

      .bx-1,
      .bx-2 {
        width: 99%;
        height: auto;
        max-height: 306px;
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 5px 20px #00000045;
        border-radius: 3px;
        margin-bottom: 40px;
        padding: 10px 45px;

        a {
          left: 0;
          bottom: 0;
          float: right;
          right: 0;
          margin-left: 19px;
        }
      }

      .shipping__details__container {
        h2 {
          margin: auto;
        }

        .addressess {
          display: block;
        }
      }

    }
  }


  /*End of container 3 style*/

  /*Start of go back to cart and next btns*/
  .go_back_next_btn {
    // max-width: 450px;
    display: flex;
    margin: 133px auto;

    .btn-secondary {
      background-color: #E6E6E6;
      width: 289px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      padding: 0px;
      font-weight: bold;
      box-shadow: 0px 5px 9px #E6E6E6;
      border-radius: 2px;
      border: 1px solid #E6E6E6;
      color: #000;
    }

    .btn-primary {
      width: 289px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      padding: 0px;
      font-weight: bold;
      background-color: #0087EA;
      border: 1px solid #0087EA;
      box-shadow: 0px 5px 9px #00000026;
      border-radius: 2px;
    }
  }

  @media(max-width: 768px) {
    .go_back_next_btn {
      display: block;
      margin: 108px 40px;
    }

    .btn-secondary {
      background-color: #E6E6E6;
      width: auto;
      height: 64px;
      line-height: 64px;
      text-align: center;
      padding: 0px;
      font-weight: bold;
      box-shadow: 0px 5px 9px #E6E6E6;
      border-radius: 2px;
      border: 1px solid #E6E6E6;
      color: #000;
      margin-bottom: 20px;
    }
  }

  /*End of go back to cart and next btns*/


}
