<!-- Start of second container -->
<div class="container_one">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h2>Checkout</h2>
      </div>
    </div>
  </div>
</div>
<div class="container_two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="step_one">
          <ul>
            <li class="active">
              <a href="/checkout">1</a>
              <h4>Shopping</h4>
            </li>
            <li>
              <a href="/billing-checkout">2</a>
              <h4>Billing</h4>
            </li>
            <li>
              <a href="/checkout-review">3</a>
              <h4>Review</h4>
            </li>
            <li>
              <a href="/confirmation">4</a>
              <h4>Confirmation</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of second container -->
