<section class="left-sidebar">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-md-2 fixed-top">
        <div class="left-menu-links">
          <div class="list-group w-100">
            <h3 class="list-group-items">Search by Section</h3>
            <ul class="sidebar-ul-links">
              <a href="#money" class="list-group-item slide-section">Money</a>
              <a href="#events" class="list-group-item slide-section">Events</a>
              <a href="#jobs" class="list-group-item slide-section">Jobs</a>
              <a href="#networking" class="list-group-item slide-section"
                >Networking</a
              >
              <a href="#lifestyle" class="list-group-item slide-section"
                >Lifestyle</a
              >
              <a href="#discounts" class="list-group-item slide-section"
                >Discounts</a
              >
            </ul>
          </div>
        </div>
      </aside>
      <!-- </div> -->
      <!-- <main class="col-10 invisible">
         
        </main> -->
      <!-- <main class="col offset-2 h-100"> -->
      <!-- Start of the MAIN container -->
      <main class="col offset-2 h-100">
        <div class="row">
          <div class="col-md-12">
            <div class="learn-more-header">
              <div class="learn-more-text">
                <h1>Learn More</h1>
                <p class="disc-pants">
                  Discover what Pantsuit
                </p>
                <p class="prof-offers">Professionals has to offer.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Start of Money Container -->
        <div class="money_container" id="money">
          <h2>Money</h2>
          <p>Learn more about money, investments, debt, credit and more.</p>
          <div class="first-row">
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/andrea-piacquadio.png"
                  class="img-fluid"
                  alt="Andrea Piacquadio"
                />
              </div>
              <div class="col-md-8">
                <div class="money__details">
                  <h3>Discover Blogs and Guides</h3>
                  <p>
                    Read blogs about how to deal with college debt, how to
                    create a budget, how to open your first investment account,
                    and more.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Start of Row 2 -->
          <div class="second-row">
            <div class="row">
              <div class="col-md-4">
                <!-- assets/images/jobs-img.jpg -->
                <img
                  src="assets/images/fc-image.png"
                  class="img-fluid"
                  alt="Christina Morillo"
                />
              </div>
              <div class="col-md-8">
                <div class="money__details">
                  <h3>Receive a Free Consultation</h3>
                  <p>
                    Receive a free financial planning and investing consultation
                    and get started today!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Row 2 -->
        </div>
        <!-- End of Money Container -->
        <!-- Start of Events Container -->
        <div class="events_container" id="events">
          <h2>Events</h2>
          <p>Post company events for visitors to browse through.</p>
          <div class="event-row-one">
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/daria-shevtsova.png"
                  class="img-fluid"
                  alt="event image"
                />
              </div>
              <div class="col-md-8">
                <div class="event__details">
                  <h3>What is PSP Events?</h3>
                  <p>
                    This module includes features such as keynote speaker
                    events, career development and planning, mentorship
                    workshops, and mock interviews.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Start of second row -->
          <div class="event-row-two">
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/pexels-fox.png"
                  class="img-fluid"
                  alt="event image"
                />
              </div>
              <div class="col-md-8">
                <div class="event__details">
                  <h3>Why post your events at Pantsuit Professionals?</h3>
                  <p>
                    By collaborating with PSP, companies are able to extend
                    their brand to a wide range of women. Pantsuit Professionals
                    will also market each event, product, and/or service across
                    all social media channels.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End of second row -->
          <!-- Start of What Events Offers -->
          <div class="events_offer_container">
            <h3 class="text-center">What Events Offers</h3>
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/christina-morillo01.png"
                  class="img-fluid"
                  alt="Christina Morillo"
                />
                <p>
                  Attend workshops to learn how to build a strong resume for
                  your next job.
                </p>
              </div>
              <div class="col-md-4">
                <img
                  src="assets/images/valeria-ushakova.png"
                  class="img-fluid"
                  alt="Caleria Ushakova"
                />
                <p>
                  Increase brand awareness to our specific demographic.
                </p>
              </div>
              <div class="col-md-4">
                <img
                  src="assets/images/christina-morillo02.png"
                  class="img-fluid"
                  alt="Christina Morillo"
                />
                <p>
                  Market your jobs on our social media platforms.
                </p>
              </div>
            </div>
          </div>
          <!-- End of What Events Offers -->
        </div>
        <!-- End of Events Container -->
        <!-- Start of Jobs Container -->
        <div class="jobs_container" id="jobs">
          <h2>Jobs</h2>
          <p>Browse jobs and apply through PSP to land that interview!</p>
          <div class="jobs-row-one">
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/andrea-piacquadio-b.png"
                  class="img-fluid"
                  alt="Andrea Piacquadio"
                />
              </div>
              <div class="col-md-8">
                <div class="jobs__details">
                  <h3>Employee opportunities on PSP</h3>
                  <p>
                    Members can access jobs of all types on our site from
                    companies who are looking for intelligent, savvy women.
                    Easily connect with employers on our platform.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Start of second row -->
          <div class="jobs-row-two">
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/pexels-cottonbro.png"
                  class="img-fluid"
                  alt="cottonbro"
                />
              </div>
              <div class="col-md-8">
                <div class="jobs__details">
                  <h3>Employer benefits on PSP</h3>
                  <p>
                    Partners of Pantsuit Professionals can post their job
                    opportunities on our platform to get access to the members
                    who are looking to jumpstart their career or change things
                    up.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End of second row -->
          <!-- Start of What Jobs Offers -->
          <div class="jobs_offer_container">
            <h3 class="text-center mb-4">What Jobs Offers</h3>
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/pexels-cowomen-2.png"
                  class="img-fluid"
                  alt="Cowomen"
                />
                <p>
                  Employers can reach a specific demographic of women.
                </p>
              </div>
              <div class="col-md-4">
                <img
                  src="assets/images/pexels-tima-miroshnichenko.png"
                  class="img-fluid"
                  alt="Tima Miroshnichenko"
                />
                <p>
                  Increase brand awareness to our specific demographic.
                </p>
              </div>
              <div class="col-md-4">
                <img
                  src="assets/images/pexels-tima-miroshnichenko-1.png"
                  class="img-fluid"
                  alt="Tima Miroshnichenko"
                />
                <p>
                  Market your jobs on our social media platforms.
                </p>
              </div>
            </div>
          </div>
          <!-- End of What Job Offers -->
        </div>
        <!-- End of Jobs Container -->
        <!-- Start of Neworking -->
        <div class="networking_container" id="networking">
          <h2>Networking</h2>
          <p>Connect with other professional women.</p>
          <div class="networking-row-one">
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/pexels-ekaterina-bolovtsova.png"
                  class="img-fluid"
                  alt="Ekaterina Bolovtsova"
                />
              </div>
              <div class="col-md-8">
                <div class="networking__details">
                  <h3>Earn Membership</h3>
                  <p>
                    Become a member and network with women from all different
                    industries.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Start of second row -->
          <div class="networking-row-two">
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/pexels-rfstudio-1.png"
                  class="img-fluid"
                  alt="Rfstudio"
                />
              </div>
              <div class="col-md-8">
                <div class="networking__details">
                  <h3>Get Discovered</h3>
                  <p>
                    Create your own profile, get discovered by employers, and
                    more.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End of second row -->
        </div>
        <!-- End of Neworking -->
        <!-- Start of Lifestyle Container -->
        <div class="lifestyle_container" id="lifestyle">
          <h2>Lifestyle</h2>
          <p>Lifestyle contains blog posts in various types and industries.</p>
          <div class="lifestyle-row-one">
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/pexels-godisable-jacob-1.png"
                  class="img-fluid"
                  alt="Godisable Jacob"
                />
              </div>
              <div class="col-md-8">
                <div class="lifestyle__details">
                  <h3>Discover Blogs</h3>
                  <p>
                    Read great personal and professional blogs in any industry,
                    profession, and more.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Lifestyle Container -->
        <!-- Start of Discover Container -->
        <div class="discounts_container" id="discounts">
          <h2>Discounts</h2>
          <p>Discover discounts on products and events.</p>
          <div class="discounts-row-one">
            <div class="row">
              <div class="col-md-4">
                <img
                  src="assets/images/pexels-godisable-jacob-1020.png"
                  class="img-fluid"
                  alt="Godisable Jacob"
                />
              </div>
              <div class="col-md-8">
                <div class="discounts__details">
                  <h3>Save on Events</h3>
                  <p>
                    Get discounts to Pantsuit Professional events and search for
                    other great event discounts.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start of bottom Sign Up -->
        <div class="bottom-sign-up">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-5">
              <a href="#" class="btn btn-danger">Sign Up</a>
            </div>
          </div>
        </div>
        <!-- End of bottom Sign Up -->
        <!-- End of Discover Container -->
      </main>
      <!-- End of the MAIN container -->
    </div>
  </div>
</section>
