<section class="left-sidebar">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-md-2 fixed-top">
        <div class="left-menu-links">
          <div class="list-group w-100">
            <h3 class="list-group-items">Search by Section</h3>

            <a href="#money" class="list-group-item slide-section">Money</a>
            <a href="#events" class="list-group-item slide-section">Events</a>
            <a href="#jobs" class="list-group-item slide-section">Jobs</a>
            <a href="#networking" class="list-group-item slide-section"
              >Networking</a
            >
            <a href="#lifestyle" class="list-group-item slide-section"
              >Lifestyle</a
            >
            <a href="#discounts" class="list-group-item slide-section"
              >Discounts</a
            >
          </div>
        </div>
      </aside>
      <!-- </div> -->
      <!-- <main class="col-10 invisible">
         
        </main> -->
      <!-- <main class="col offset-2 h-100"> -->
      <!-- Start of the MAIN container -->
      <main class="col offset-2 h-100">
        <div class="row">
          <div class="col-md-12">
            <div class="learn-more-header">
              <div class="learn-more-text">
                <h1>Learn More</h1>
                <p>
                  Discover what Pantsuit <br />
                  Professionals has to offer.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Start of Money Container -->
        <div class="money_container" id="money">
          <h2>Money</h2>
          <p>Learn more about money, investments, debt, credit and more.</p>
          <div class="first-row">
            <div class="row">
              <div class="col-md-6">
                <img
                  src="https://source.unsplash.com/1600x900/?jeans"
                  class="img-fluid"
                  alt="money image"
                />
              </div>
              <div class="col-md-6">
                <div class="money__details">
                  <h3>Discover Blogs and Guides</h3>
                  <p>
                    Read blogs about how to deal with college debt, how to
                    create a budget, how to open your first investment account,
                    and more.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Start of Row 2 -->

          <div class="second-row">
            <div class="row">
              <div class="col-md-6">
                <!-- assets/images/jobs-img.jpg -->
                <img
                  src="https://source.unsplash.com/1600x900/?shirt"
                  class="img-fluid"
                  alt="money image"
                />
              </div>
              <div class="col-md-6">
                <div class="money__details">
                  <h3>Receive a Free Consultation</h3>
                  <p>
                    Receive a free financial planning and investing consultation
                    and get started today!
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- End of Row 2 -->
        </div>
        <!-- End of Money Container -->

        <!-- Start of Events Container -->
        <div class="events_container" id="events">
          <h2>Events</h2>
          <p>Post company events for visitors to browse through.</p>
          <div class="event-row-one">
            <div class="row">
              <div class="col-md-6">
                <img
                  src="https://source.unsplash.com/1600x900/?phone"
                  class="img-fluid"
                  alt="event image"
                />
              </div>
              <div class="col-md-6">
                <div class="event__details">
                  <h3>What is PSP Events?</h3>
                  <p>
                    This module includes features such as keynote speaker
                    events, career development and planning, mentorship
                    workshops, and mock interviews.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Start of second row -->
          <div class="event-row-two">
            <div class="row">
              <div class="col-md-6">
                <img
                  src="https://source.unsplash.com/1600x900/?fashion"
                  class="img-fluid"
                  alt="event image"
                />
              </div>
              <div class="col-md-6">
                <div class="event__details">
                  <h3>Why post your events at Pantsuit Professionals?</h3>
                  <p>
                    By collaborating with PSP, companies are able to extend
                    their brand to a wide range of women. Pantsuit Professionals
                    will also market each event, product, and/or service across
                    all social media channels.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End of second row -->

          <!-- Start of What Events Offers -->
          <div class="events_offer_container">
            <h3 class="text-center">What Events Offers</h3>
            <div class="row">
              <div class="col-md-4">
                <img
                  src="https://source.unsplash.com/1600x900/?art"
                  class="img-fluid"
                  alt="event image"
                />
                <p>
                  Attend workshops to learn how to build a strong resume for
                  your next job.
                </p>
              </div>
              <div class="col-md-4">
                <img
                  src="https://source.unsplash.com/1600x900/?book"
                  class="img-fluid"
                  alt="event image"
                />
                <p>
                  Increase brand awareness to our specific demographic.
                </p>
              </div>
              <div class="col-md-4">
                <img
                  src="https://source.unsplash.com/1600x900/?jeans"
                  class="img-fluid"
                  alt="event image"
                />
                <p>
                  Market your jobs on our social media platforms.
                </p>
              </div>
            </div>
          </div>
          <!-- End of What Events Offers -->
        </div>

        <!-- End of Events Container -->

        <!-- Start of Neworking -->
        <div class="networking_container">
          <h2>Networking</h2>
          <p>Connect with other professional women.</p>
          <div class="networking-row-one">
            <div class="row">
              <div class="col-md-6">
                <img
                  src="https://source.unsplash.com/1600x900/?phone"
                  class="img-fluid"
                  alt="networking image"
                />
              </div>
              <div class="col-md-6">
                <div class="networking__details">
                  <h3>Earn Membership</h3>
                  <p>
                    Become a member and network with women from all different
                    industries.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Start of second row -->
          <div class="networking-row-two">
            <div class="row">
              <div class="col-md-6">
                <img
                  src="https://source.unsplash.com/1600x900/?fashion"
                  class="img-fluid"
                  alt="networking image"
                />
              </div>
              <div class="col-md-6">
                <div class="networking__details">
                  <h3>Get Discovered</h3>
                  <p>
                    Create your own profile, get discovered by employers, and
                    more.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End of second row -->
        </div>
        <!-- End of Neworking -->
      </main>
      <!-- End of the MAIN container -->
    </div>
  </div>
</section>
