<!-- <section class="bags container"> -->
<section class="bags">
  <!-- Start of leftside menu -->
  <div class="left__side__menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Shop by Product</h3>
          <ul class="nav flex-column col-xs-12">
            <li class="nav-item">
              <a class="nav-link" href="#">Bags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Caps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shirts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category Item</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End of leftside menu -->
  <!-- Start of bags content container div -->
  <div class="bags__content__container">
    <div class="container">
      <!-- Start of menu links -->
      <div class="bags_links_container">
        <div class="menu_item_links">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Landing Page</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                PSP Merch
              </li>
            </ol>
          </nav>
        </div>
        <div class="sort_by_links">
          <!-- Start of sort by accordian -->
          <div id="accordion" class="accordion">
            <div class="card mb-0">
              <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <a class="card-title"> Sort by </a>
              </div>
              <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                <ul>
                  <li class="nav-item">Newest</li>
                  <li class="nav-item">Featured</li>
                  <li class="nav-item">Highest to lowest</li>
                  <li class="nav-item">Lowest to highest</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of sort by accordian -->
        </div>
      </div>
      <!-- End of menu links -->
      <h1 class="bags__title">{{title}}</h1>
      <div class="row" id="bags">
        <!-- Start of the first card -->
        <div class="col-md-4 col-sm-12 col-xs-12" *ngFor="let bag of bags; let i =index">
          <div class="card">
            <span class="heart__over__image">
              <i class="far fa-heart"></i>
            </span>
            <a href="/bags-details/{{bag.id}}">
              <img class="card-img-top" src="{{bag.bagImageUrl}}" alt="{{bag.name}}" class="img-fluid" /></a>
            <div class="card-body">
              <h5 class="card-title sale text-uppercase">
                {{bag.name}}
              </h5>
              <p class="item-name">
                {{bag.itemName}}
              </p>
              <p class="price">{{bag.price |currency}}</p>
              <div class="colors">
                <div class="black"></div>
                <div class="pink"></div>
                <div class="white"></div>
                <div class="quick__view">
                  <!-- <a
                    href="/bags-details/{{bag.id}}"
                    class="btn btn-outline-danger btn-sm"
                    >Quick View</a
                  > -->
                  <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#myModal">
                    Quick View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of the frist card -->
      </div>
      <div class="readmore__links">
        <div class="container">
          <div class="row">
            <div class="col-md-3 mx-auto">
              <a href="/bags" class="btn btn-outline-danger">View more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of the first container -->
    <!-- =========== Start of the second Container ============= -->
    <!-- Start of the second card -->
    <div class="caps_container">
      <div class="container">
        <h1>{{capsTitle}}</h1>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12" *ngFor="let cap of caps; let i =index">
            <div class="card">
              <span class="heart__over__image">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <!-- <a [routerLink]="['/bags-details']"> -->
              <a href="/bags-details/{{cap.id}}">
                <img class="card-img-top" src="{{cap.capImageUrl}}" alt="{{cap.name}}" /></a>
              <div class="card-body">
                <h5 class="card-title sale text-uppercase">
                  {{cap.name}}
                </h5>
                <p class="item-name">
                  {{cap.itemName}}
                </p>
                <p class="price">{{cap.price |currency}}</p>
                <div class="colors">
                  <div class="black"></div>
                  <div class="pink"></div>
                  <div class="white"></div>
                  <div class="quick__view">
                    <!-- <a
                      href="/bags-details/{{cap.id}}"
                      class="btn btn-outline-danger btn-sm"
                      >Quick View</a> -->
                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#myModal">
                      Quick View
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start of bags read more -->
        <div class="readmore__links">
          <div class="container">
            <div class="row">
              <div class="col-md-3 mx-auto">
                <a href="#" class="btn btn-outline-danger">View more</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End of bags read more -->
      </div>
    </div>
    <!-- End of the second card -->
    <!-- =========== End of the second Container ============= -->
    <!-- =========== Start of the third Container ============= -->
    <!-- Start of the third card -->
    <div class="shirts_container">
      <div class="container">
        <h1>{{shirtTitle}}</h1>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12" *ngFor="let shirt of shirts; let i =index">
            <div class="card">
              <span class="heart__over__image">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <!-- <a [routerLink]="['/bags-details']"> -->
              <a href="/bags-details/{{shirt.id}}">
                <img class="card-img-top" src="{{shirt.shirtImageUrl}}" alt="{{shirt.name}}" /></a>
              <div class="card-body">
                <h5 class="card-title sale text-uppercase">
                  {{shirt.name}}
                </h5>
                <p class="item-name">
                  {{shirt.itemName}}
                </p>
                <p class="price">{{shirt.price |currency}}</p>
                <div class="colors">
                  <div class="black"></div>
                  <div class="pink"></div>
                  <div class="white"></div>
                  <div class="quick__view">
                    <!-- <a
                      href="/bags-details/{{shirt.id}}"
                      class="btn btn-outline-danger btn-sm"
                      >Quick View</a> -->
                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#myModal">
                      Quick View
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start of bags read more -->
        <div class="readmore__links">
          <div class="container">
            <div class="row">
              <div class="col-md-3 mx-auto">
                <a href="#" class="btn btn-outline-danger">View more</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End of bags read more -->
      </div>
    </div>
    <!-- End of the third card -->
    <!-- =========== End of the third Container ============= -->
  </div>
  <!-- Start of bags content container div -->
</section>
<app-bags-modal></app-bags-modal>
