<section class="bags container">
  <div class="left__side__menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3>Shop by Product</h3>
          <ul class="nav flex-column col-xs-12">
            <li class="nav-item">
              <a class="nav-link" href="#">Bags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Caps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shirts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category Item</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bags__content__container">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Landing Page</a></li>
          <li class="breadcrumb-item active" aria-current="page">PSP Merch</li>
        </ol>
      </nav>
      <h3 class="bags__title">{{title}}</h3>
      <div class="row">
        <!-- Start of the first card -->
        <div class="col-md-4 col-xs-12">
          <div class="card">
            <a [routerLink]="['/bags-details']">
              <img
                class="card-img-top"
                src="/assets/images/shopping-bag.jpg"
                alt="Card image cap"
            /></a>
            <div class="card-body">
              <h5 class="card-title sale text-uppercase">Sale</h5>
              <p class="item-name">Name of Item</p>
              <p class="price">$50.00</p>
              <div class="colors">
                <div class="black"></div>
                <div class="pink"></div>
                <div class="white"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of the frist card -->
      </div>
    </div>
  </div>
</section>
